<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UID</key>
	<string>0ef8444155c6954799f6b5be14478420b6b5219b179f92e9d0a016fabee15203</string>
	<key>Pwd</key>
	<string>763efb1fdf50b467df9756d6384891edf1a934cc05024c57071051a289fed4b8</string>
</dict>
</plist>
